.section.customers {
  margin: 0 auto;
  @include tab-min {
    padding-top: 60px;
    padding-bottom: 120px;
  }
  @include desk-min {
    padding-top: 100px;
    padding-bottom: 200px;
  }
}

// .customers__box {
// }
.customers {
  max-width: 320px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/background/customers/customers320mob@1x.jpg);
  @include retina {
    background-image: url(../img/background/customers/customers320mob@2x.jpg);
  }

  @media screen and (min-width: 320px) and (max-width: 767.5px) {
    width: 100%;
    min-height: 769px;
    background-image: url(../img/background/customers/customers480mob@1x.jpg);
    @include retina {
      background-image: url(../img/background/customers/customers480mob@2x.jpg);
    }
  }
  @include tab-min {
    max-width: 768px;
    background-image: url(../img/background/customers/customers768tab@1x.jpg);
    @include retina {
      background-image: url(../img/background/customers/customers768tab@2x.jpg);
    }
  }

  @include desk-min {
    max-width: 1280px;
    background-image: url(../img/background/customers/customers1280desk@1x.jpg);
    @include retina {
      background-image: url(../img/background/customers/customers1280desk@2x.jpg);
    }
  }
}

.customers__title {
  @include font(700, 28px, 1.18);
  margin-bottom: 20px;

  @include tab-min {
    @include font(700, 42px, 1.17);
  }
}

.customers__text {
  @include font(400, 14px, 1.14);
  margin-bottom: 32px;

  @include tab-min {
    @include font(400, 16px, 1.19);
  }
}

.customers__list {
  @include tab-min {
    display: flex;
    justify-content: space-evenly;
  }

  @include desk-min {
    justify-content: flex-start;
  }
}

.customers__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 280px;
  height: 100%;
  padding: 8px;
  border-radius: 0 10% 10% 10%;

  background-color: var(--primary);

  @include tab-min {
    // max-width: 336px;
    padding: 12px;
  }

  @include desk-min {
    max-width: 501px;
    padding: 14px;
    border-radius: 0 30px 30px 30px;
  }
}

.customers__item:not(:last-child) {
  margin-bottom: 24px;

  @include tab-min {
    margin-bottom: 0;
    margin-right: 32px;
  }

  @include desk-min {
    margin-right: 139px;
  }
}

.customers__icons {
  display: flex;
  margin-bottom: 28px;
}

.customers__icon {
  width: 17px;
  height: 16px;
}

.customers__icon:not(:last-child) {
  margin-right: 4px;
}

.customers__comment {
  @include font(700, 16px, 1.19);
  margin-bottom: 40px;

  @include tab-min {
    @include font(700, 18px, 1.17);
  }
}

.avatar {
  display: flex;
}

.avatar__photo {
  width: 48px;
  margin: 2px 16px 2px 0;
}

.avatar__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 16px;
  border-right: 0.85px solid var(--btn-menu);
}
.avatar__name {
  @include font(500, 14px, 1.5);
}
.avatar__status {
  @include font(400, 14px, 1.5);
}
