.footer {
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/background/footer/mobile_bgi_bottom.jpg), url(../img/background/footer/mobile_bgi_left.jpg),
    url(../img/background/footer/mobile_bgi_right.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom, left, right;
  background-position-y: bottom, 150px, top;
  @media screen and(max-width:767.5px) {
    max-width: 480px;
  }
  @media screen and(min-width:768px) {
    background-image: url(../img/background/footer/tablet_bgi.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 768px;
  }
  @media screen and(min-width:1280px) {
    background-image: url(../img/background/footer/desktop_bgi.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1280px;
  }
}
.navi {
  display: flex;
  justify-content: space-between;
  @media screen and(min-width:1280px) {
    justify-content: left;
  }
}

.logo-link--footer {
  display: block;
}
.logo-link__svg {
  width: 69px;
}
.footer-nav {
  margin-right: 100px;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  @media screen and(min-width:768px) {
    flex-direction: row;
    align-items: baseline;
    margin-top: 18px;
    margin-right: 150px;
  }
  @media screen and(min-width:1280px) {
    margin-left: 148px;
    margin-right: 0;
  }
}
.footer-nav__item {
  &:not(:first-child) {
    margin-top: 20px;
  }
  @media screen and(min-width:768px) {
    &:not(:first-child) {
      margin-top: 0;
      margin-left: 28px;
    }
  }
}
.footer-nav__link {
  @include font(400, 14, 1.17);
  color: #000000;
}
.subscribe {
  @media screen and(min-width:1280px) {
    // margin-left: 190px;
  }
}
.footer-subs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  @media screen and(min-width:768px) {
    flex-direction: row;
    align-items: center;
  }
  @media screen and(min-width:1280px) {
    margin-top: 0;
  }
}
.footer-subs__label {
  display: flex;
  flex-direction: column;
  @include font(400, 17, 1.5);
  color: #2c2c2c;
  @media screen and(min-width:768px) {
    width: 280px;
  }
}
.footer-subs__input-email {
  width: 100%;
  height: 42px;
  border-style: none;
  border: solid 2px #ffe550;
  border-radius: 30px;
  padding-left: 12px;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-color: #7eb101;
  }
  @media screen and(min-width:768px) {
    width: 280px;
  }
}
.footer-subs__btn {
  display: block;
  align-self: flex-end;
  width: 100px;
  height: 42px;
  border: solid 2px #ffe550;
  border-radius: 30px;
  background-color: #ffffff;
  float: right;
  color: #2c2c2c;
  margin-top: 20px;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-color: #7eb101;
  }

  @media screen and(min-width:768px) {
    margin-top: 27px;
    margin-left: 15px;
  }
}

.agreement {
  display: inline-block;
  justify-self: center;
  margin-right: 4px;
  text-align: center;
  margin-top: 82px;

  @media screen and(min-width:768px) {
    margin-top: 12px;
  }
}

.footer-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  @media screen and(min-width:768px) {
    flex-direction: row;
  }
  @media screen and(min-width:768px) {
    justify-content: space-between;
  }
}
.footer-link__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  @media screen and(min-width:768px) {
    justify-content: left;
    &:not(:first-of-type) {
      padding-left: 20px;
    }
  }
}

.footer-link__item:not(:first-child) {
  @media screen and(min-width:768px) {
    padding-left: 20px;
  }
}
.reserved {
  display: block;
  text-align: center;
  padding-top: 40px;
  @media screen and(min-width:768px) {
    padding-top: 60px;
  }
}
.desktop {
  @media screen and(min-width:1280px) {
    display: flex;
  }
}
