.footer {
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/background/footer/mobile_bgi_bottom.jpg), url(../img/background/footer/mobile_bgi_left.jpg),
    url(../img/background/footer/mobile_bgi_right.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom, left, right;
  background-position-y: bottom, 150px, top;
  @include mob-max {
    max-width: 480px;
  }
  @include tab-min {
    background-image: url(../img/background/footer/tablet_bgi.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 768px;
  }
  @include desk-min {
    background-image: url(../img/background/footer/desktop_bgi.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1280px;
  }
}
.navi {
  display: flex;
  justify-content: space-between;
  @include desk-min {
    justify-content: left;
  }
}
.footer-nav {
  display: flex;
  margin-right: 100px;
}
.logo-link--footer {
  display: block;
}
.logo-link__svg {
  width: 69px;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  @include tab-min {
    flex-direction: row;
    align-items: baseline;
    margin-top: 18px;
  }
  @include desk-min {
    margin-left: 148px;
    margin-right: 0;
  }
}
.footer-nav__item {
  &:not(:first-child) {
    padding-top: 20px;
  }
  @include tab-min {
    &:not(:first-child) {
      margin-top: 0;
      margin-left: 28px;
      padding: 10 0;
    }
  }
}
.footer-nav__link {
  @include font(400, 14, 1.17);
  color: var(--second);
  text-decoration: none;
  padding: 9px 0px 9px 0px;
}
.footer-subs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  @include tab-min {
    flex-direction: row;
    align-items: center;
  }
  @include desk-min {
    margin-top: 0;
  }
}
.footer-subs__label {
  display: flex;
  flex-direction: column;
  @include font(500, 14, 1.5);
  color: var(--modal-text-color);
  @include tab-min {
    width: 280px;
  }
}
.footer-subs__input-email {
  width: 100%;
  height: 42px;
  border-style: none;
  border: solid 0.854167px var(--primary-background);
  border-radius: 30px;
  padding-left: 12px;
  margin-top: 12px;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-color: var(--btn-menu);
  }
  @include tab-min {
    width: 280px;
  }
}
.desktop {
  @include desk-min {
    display: flex;
    justify-content: space-between;
  }
}
.footer-subs__btn {
  display: block;
  align-self: flex-end;
  width: 100px;
  height: 42px;
  border-radius: 30px;
  border: 0.854167px solid var(--btn-menu);
  background: #ffffff;

  float: right;
  margin-top: 20px;
  @include font(500, 13, 1.5);
  color: var(--modal-text-color);
  &:hover,
  &:focus,
  &:active {
    outline: none;
    background-color: var(--primary-background);
  }

  @include tab-min {
    margin-top: 27px;
    margin-left: 15px;
  }
}

.agreement {
  display: inline-block;
  justify-self: center;
  margin-right: 4px;
  text-align: center;
  margin-top: 82px;
  color: var(--modal-text-color);
  @include tab-min {
    margin-top: 12px;
  }
}

.footer-link__link,
.privacy-policy-link {
  color: var(--btn-menu);
  text-decoration-line: underline;
  &:hover,
  &:focus,
  &:active {
    color: var(--btn-order);
  }
}

.footer-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  @include tab-min {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-link__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  @include tab-min {
    justify-content: left;
    &:not(:first-of-type) {
      padding-left: 20px;
    }
  }
}
.footer-link__item:not(:first-child) {
  @include tab-min {
    padding-left: 20px;
  }
}
.reserved {
  display: block;
  text-align: center;
  padding-top: 40px;
  color: var(--modal-text-color);
  @media screen and(min-width: 768px) {
    padding-top: 62px;
  }
}

.footer-text {
  @include font(400, 10, 1.2);
  @include tab-min {
    @include font(400, 12, 1.17);
  }
}
