.hero__section {
  padding-top: 0;
  padding-bottom: 0;
}
.hero__container {
  display: flex;
  justify-content: space-between;
}
.hero__info {
  padding-top: 60px;
  @include desk-min {
    padding-top: 159px;
    margin-right: 178px;
  }
}
.hero__title {
  @include font(700, 28px, 1.2);
  margin-bottom: 28px;
  @include tab-min {
    @include font(700, 42px, 1.2);
    max-width: 537px;
    margin-bottom: 44px;
  }
  @include desk-min {
    @include font(700, 48px, 1.2);
    max-width: 502px;
    margin-bottom: 28px;
  }
}

.hero__text {
  @include font(400, 14px, 1.5);
  margin-bottom: 28px;

  @include tab-min {
    @include font(400, 16px, 1.5);
    max-width: 336px;
    margin-bottom: 40px;
  }
  @include desk-min {
    max-width: 502px;
    margin-bottom: 40px;
  }
}

.hero__btn {
  background: var(--btn-order);
  border-radius: 30px;
  padding: 10px 22px;
  border: none;
  text-align: right;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: var(--modal-text-color);
  &:hover,
  &:focus {
    background: var(--btn-hover);
  }
}
.hero__slider {
  position: relative;
  display: none;

  @include tab-min {
    padding-top: 149px;
    display: block;
    max-width: 292px;
  }

  @include desk-min {
    padding-top: 14px;
    max-width: 528px;
  }
}

.hero__slider .hero__slides {
  height: 100%;
  display: flex;
  transition: transform 0.5s;
}

.hero__slider .hero__slider-window {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.hero__img {
  border: 14px solid var(--primary-background);
  border-radius: 50%;
  max-width: 292px;

  @include desk-min {
    border: 26px solid var(--primary-background);
    max-width: 528px;
  }
}

.hero__slider-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-25%, -50%);
  padding: 5.5px 13px;
  position: absolute;
  top: 50%;
  left: -3px;
  width: 48px;
  height: 40px;
  background: var(--primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  &:hover,
  &:focus {
    fill: var(--btn-menu);
  }

  @include tab-max {
    top: calc(50% + 75px);
    padding: 4px 13.5px;
    width: 38px;
    height: 28px;
  }
}
.hero__slider-next {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(+15%, -50%);
  padding: 5.5px 13px;
  position: absolute;
  top: 50%;
  right: -6px;
  width: 48px;
  height: 40px;
  background: var(--primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  &:hover,
  &:focus {
    fill: var(--btn-menu);
  }

  @include tab-max {
    top: calc(50% + 75px);
    padding: 4px 13.5px;
    width: 38px;
    height: 28px;
  }
}
