.hero__container {
  display: flex;
}
.hero__info {
  margin-right: 178px;
}
.hero__title {
  @include font(700, 28px, 1.2);
  max-width: 280px;
  padding-top: 60px;
  margin-bottom: 28px;
  @include tab-min {
    @include font(700, 42px, 1.2);
    max-width: 537px;
    margin-bottom: 44px;
  }
  @include desk-min {
    @include font(700, 48px, 1.2);
    max-width: 502px;
    padding-top: 159px;
    margin-bottom: 28px;
  }
}

.hero__text {
  @include font(400, 14px, 1.5);
  max-width: 266px;
  margin-bottom: 28px;

  @include tab-min {
    @include font(400, 16px, 1.5);
    max-width: 336px;
    margin-bottom: 40px;
  }
  @include desk-min {
    max-width: 502px;
    margin-bottom: 40px;
  }
}

.hero__btn {
  background: #bbf330;
  border-radius: 30px;
  padding: 6px 18px;
  border: none;
  text-align: right;
  cursor: pointer;
  &:hover,
  &:focus {
    background: #b5ff00;
  }
}
.hero__image {
  border-radius: 50%;
}
.hero__img {
  border-radius: 50%;
}

.hero__wrapper-image {
  border: 14px solid #ffe550;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  @include desk-min {
    border: 26px solid #ffe550;
  }
}
