@mixin flex($j: center, $a: center) {
  display: flex;
  justify-content: $j;
  align-items: $a;
}
@mixin font($w, $s, $h) {
  font-weight: $w;
  font-size: $s;
  line-height: $h;
}

@mixin font2($w, $s, $h) {
  font-weight: $w;
  font-size: $s + px;
  line-height: $h;
}

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}
