.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);

  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop__modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;

  max-height: 449px;
  min-width: 320px;

  padding-top: 32px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 32px;

  background-color: var(--primary-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;

  transform: translate(-50%, -50%) scale(1);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__close-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 16px;
  top: 16px;

  background: var(--primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

  border-radius: 50%;
  @include flex;
}

.backdrop__title {
  @include font2(700, 24, 1.2);
  color: var(--modal-text-color);

  text-align: center;
  margin-bottom: 20px;
}

.submit-form__label {
  @include font2(500, 16, 1.4);

  color: var(--modal-text-color);
  margin-bottom: 2px;
  margin-left: 12px;
}

.submit-form__input {
  width: 100%;
  height: 48px;
  border: 1px solid var(--submitform-border);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding-left: 12px;
  @include font2(400, 16, 1.25);
}

.submit-form__field:not(:last-child) {
  margin-bottom: 24px;
}

.submit-form__input:focus {
  border: 1px solid var(--submitform-outline);
  outline: none;
}

.submit-form__input::placeholder {
  @include font2(400, 16, 1.25);

  color: var(--placeholder-color);
}

.submit-form__btn-submit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 38px;
  padding-left: 38px;
  @include flex;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;

  @include font2(500, 13, 1.5);
  color: var(--modal-text-color);

  background: var(--btn-order);
  border: 2px solid var(--btn-menu);
  border-radius: 30px;
}

.submit-form__btn-submit--right {
  background: var(--btn-order);
}

.submit-form__btn-submit--error {
  background: var(--primary);
  border: 2px solid var(--submitformalert-border);
}

.submit-form__input-alert {
  @include font2(500, 11, 1.4);
  color: var(--submitformalert-border);
  margin-left: 12px;
}

.submit-form__input-alert::before {
  content: '';
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.submit-form__input-requirement {
  @include font2(500, 13, 1.4);
  color: var(--submitformalert-border);
  margin-left: 12px;
}

@include mob-max {
  .backdrop__modal {
    max-width: 320px;
  }
}

@include tab-min {
  .backdrop__modal {
    min-width: 458px;
  }
}

@include desk-min {
  .backdrop__modal {
    min-width: 458px;
  }
}
