.offerings {
  // 320px mobile responsive

  @include gum {
    @include wh(100%, 1050px);
    background-image: url(../img/offerings/off-ground-min.png);
    background-repeat: no-repeat;
    background-size: cover;

    background-color: var(--primary);

    @include retina {
      background-image: url(../img/offerings/off-ground-min-2x.png);
    }

    &__img {
      display: block;

      max-width: 280px;

      margin-top: 40px;
      margin-right: auto;
      margin-bottom: 60px;
      margin-left: auto;
    }

    &__title {
      @include font(700px, 28px, 1.17);

      margin-bottom: 28px;
    }

    &__advertising {
      @include font(400px, 14px, 1.17);

      margin-bottom: 28px;
    }

    &__item {
      max-width: 252px;
      margin-bottom: 28px;
    }

    &__box {
      @include wh(48px, 48px);
      display: flex;
      border-radius: 50%;

      justify-content: center;
      align-items: center;

      background-color: #fff;
      background-repeat: no-repeat;

      margin-bottom: 8px;
    }

    &__icon {
      fill: #7eb101;
    }

    &__benefits {
      @include font(700px, 18px, 1.17);

      margin-bottom: 16px;
    }

    &__text {
      @include font(400px, 14px, 1.17);

      margin-bottom: 28px;
    }

    &__wrapper {
      display: flex;

      align-items: baseline;
    }

    &__button {
      @include wh(106px, 40px);

      margin-right: 24px;

      background: #ffffff;

      border: 2px solid #7eb101;
      border-radius: 30px;
    }

    &__link {
      @include font(400px, 13.7px, 1.5);

      color: #000000;

      text-decoration: none;
    }
  }

  // 480px mobile adaptive

  @include mob-min {
    width: 480px;
    @include wh(480px, 1050px);
    background-image: url(../img/offerings/off-ground-mob.png);
    background-repeat: no-repeat;
    background-size: cover;

    background-color: var(--primary);

    @include retina {
      background-image: url(../img/offerings/off-ground-mob-2x.png);
    }

    &__img {
      display: block;

      max-width: 280px;

      margin-top: 40px;
      margin-right: auto;
      margin-bottom: 60px;
      margin-left: auto;
    }

    &__title {
      @include font(700px, 28px, 1.17);

      margin-bottom: 28px;
    }

    &__advertising {
      @include font(400px, 14px, 1.17);

      margin-bottom: 28px;
    }

    &__item {
      max-width: 252px;
      margin-bottom: 28px;
    }

    &__box {
      @include wh(48px, 48px);
      display: flex;
      border-radius: 50%;

      justify-content: center;
      align-items: center;

      background-color: #fff;
      background-repeat: no-repeat;

      margin-bottom: 8px;
    }

    &__icon {
      fill: #7eb101;
    }

    &__benefits {
      @include font(700px, 18px, 1.17);

      margin-bottom: 16px;
    }

    &__text {
      @include font(400px, 14px, 1.17);

      margin-bottom: 28px;
    }

    &__wrapper {
      display: flex;

      align-items: baseline;
    }

    &__button {
      @include wh(106px, 40px);

      margin-right: 24px;

      background: #ffffff;
      cursor: pointer;

      border: 2px solid #7eb101;
      border-radius: 30px;
    }

    &__button:hover,
    &__button:focus,
    &__button:active {
      border: 2px solid #597d00;
    }

    &__link {
      @include font(400px, 13.7px, 1.5);

      color: #000000;

      text-decoration: none;
    }
  }

  // 768px tablet adaptive

  @include tab-min {
    width: 768px;

    @include wh(768px, 1140px);
    background-image: url(../img/offerings/off-ground-tab.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include retina {
      background-image: url(../img/offerings/off-ground-tab-2x.png);
    }

    &__img {
      max-width: 704px;
      margin-top: 150px;
    }

    &__title {
      @include font(700px, 42px, 1.17);
      max-width: 526px;
      margin-bottom: 20px;
    }

    &__advertising {
      @include font(400px, 16px, 1.17);
      max-width: 500px;
      margin-bottom: 40px;
    }

    &__list {
      display: flex;
    }

    &__item:not(:last-child) {
      margin-right: 116px;
    }
  }

  // 1280px desktop adaptive

  @include desk-min {
    display: flex;
    align-items: center;

    @include wh(1280px, 824px);
    background-image: url(../img/offerings/off-ground-desk.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include retina {
      background-image: url(../img/offerings/off-ground-desk-2x.png);
    }

    &__img {
      max-width: 550px;
      min-height: 550px;

      margin-top: 231px;
      margin-right: 90px;
      margin-bottom: 43px;
      margin-left: 16px;
    }

    &__link {
      display: none;
    }
  }
}
