*, ::after, ::before {
    box-sizing: border-box;
}

.sub-section__header{
    flex-direction: row-reverse;

    @include mob-max {
        display: block;
        max-width: 480px;
        margin-top: -90px;
    }
    
    @include tab-min {
        max-width: 768px;;
        display: block;
        margin: 0 auto;
    }

    @include desk-min {
        max-width: 1200px;;
        display: flex;
        margin: 0 auto;
    }
}

.sub-section__block {
    display: block;
    @include mob-max {
        padding-bottom: 60px;
    }
    
    @include tab-min {
        padding-bottom: 100px;
    }
}

.sub-section__title {
    font-weight: 700;

    @include mob-max {
    font-size: 28px;
    line-height: 120%;
}

    @include tab-min {
    font-size: 42px;
    margin-bottom: 20px;
    line-height: 120%;
}
}

.sub-section__description {
    display: flex;

    @include mob-max {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-top: 20px;
    padding-bottom: 40px;
    }

    @include tab-min {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 24px
}

}

.sub-section__place {
    @include gum {
        display: block;
    }
    
    @include tab-min {
        display: flex;
    }
}

.sub-section__form {
    @include gum {
        display: block;
    }

    @include mob-min {
        display: flex;
    }
        
    @include tab-min {
        display: flex;
    }
}

.sub-section__input {
    border: 1px solid yellow;
    padding: 16px;
    border-radius: 30px;
    padding: 12px 57px 12px 12px;
    width: 100%;

    @include gum {
        margin-bottom: 20px;
    }

    @include mob-min {
        margin-right: 22px;
        width: 395px;
    }
        
    @include tab-min {
        margin-right: 32px;
        width: 395px;
    }
}

.sub-section__button {
    border-radius: 30px;
    padding: 11px 22px;
    cursor: pointer;
    background: #BBF330;;
    border: none;

    @include gum {
        display: flex;
        margin-left: auto;
    }
}

.sub-section__image {
    display: flex;

    @include gum {
        width: auto;
    }

    @include mob-max {
        padding-bottom: 20px;
        justify-content: center;
    }

    @include tab-min {
        @include tab-max {
        padding-bottom: 20px;
        justify-content: center;
        margin-left: auto;
        width: 281px;
    }
    }   
}

.sub-section__banan {

    @include mob-max {
        margin: 0;
        width: 281px;
    }
        
    @include tab-min {
        margin-top: -46px;
    }
}