// Тут прописуємо зміні кольорів

:root {
  --primary: rgba(255, 255, 255, 1);
  --second: rgba(0, 0, 0, 1);
  --btn-order: rgb(187, 243, 48);
  --btn-menu: rgba(126, 177, 1, 1);
  --submitform-outline: rgb(0, 200, 255);
  --submitformalert-border: rgba(255, 112, 93, 1);
  --placeholder-color: rgb(196, 196, 196);
  --modal-text-color: rgb(44, 44, 44);
  --primary-background: rgba(255, 229, 80, 1);
  --shadow-fruit: radial-gradient(50% 50% at 50% 50%, #2f583f 0%, rgba(105, 105, 105, 0) 100%);
}
