@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

svg {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 16px;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 28pxpx;
  line-height: 1.2;
  width: 280px;
  padding-top: 60px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-weight: 700;
    font-size: 42pxpx;
    line-height: 1.2;
    width: 537px;
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-weight: 700;
    font-size: 48pxpx;
    line-height: 1.2;
    width: 502px;
    padding-top: 159px;
    margin-bottom: 28px;
  }
}

.hero__text {
  font-weight: 400;
  font-size: 14pxpx;
  line-height: 1.5;
  width: 266px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-weight: 400;
    font-size: 16pxpx;
    line-height: 1.5;
    width: 336px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    width: 502px;
    margin-bottom: 40px;
  }
}

.hero__btn {
  background: #bbf330;
  border-radius: 30px;
  padding: 6px 18px;
  border: none;
  text-align: right;
  cursor: pointer;
}
.hero__btn:hover, .hero__btn:focus {
  background: #b5ff00;
}

.header {
  padding: 0;
  background-color: #fefefe;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
}

.nav-btn-wrapper {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.menu__list {
  display: flex;
  gap: 28px;
}

.menu__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  color: #000000;
}

.menu__link--current {
  text-decoration: underline;
  font-weight: 500;
  color: #bbf330;
}
@media screen and (min-width: 1280px) {
  .menu__link--current {
    font-weight: 700;
  }
}

.order-btn {
  padding: 6px 18px;
  background: #bbf330;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
}
@media screen and (max-width: 767px) {
  .order-btn {
    display: none;
  }
}

.customers {
  background-image: url(../img/background/customers/customers320mob@1x.jpg);
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .customers {
    background-image: url(../img/background/customers/customers320mob@2x.jpg);
  }
}

.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 20px;
}

.customers__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 32px;
}

.customers__item {
  width: 280px;
  height: 100%;
  padding: 8px;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: #FFFFFF;
}

.customers__item:not(:last-child) {
  margin-bottom: 24px;
}

.customers__icons {
  display: flex;
  margin-bottom: 28px;
}

.customers__icon:not(:last-child) {
  margin-right: 4px;
}

.customers__comment {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 40px;
}

.avatar {
  display: flex;
}

.avatar__photo {
  width: 48px;
  margin: 2px 16px 2px 0;
}

.avatar__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 16px;
  border-right: 0.85px solid rgb(126, 177, 1);
}

.avatar__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.avatar__status {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.footer {
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/background/footer/mobile_bgi_bottom.jpg), url(../img/background/footer/mobile_bgi_left.jpg), url(../img/background/footer/mobile_bgi_right.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom, left, right;
  background-position-y: bottom, 150px, top;
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    background-image: url(../img/background/footer/tablet_bgi.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    background-image: url(../img/background/footer/desktop_bgi.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1280px;
  }
}

.navi {
  display: flex;
  justify-content: space-between;
}

.logo__link--footer {
  display: block;
}

.logo__svg {
  width: 69px;
}

.footer-nav {
  margin-right: 100px;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-nav__list {
    flex-direction: row;
    align-items: baseline;
    margin-top: 18px;
    margin-right: 150px;
  }
}
.footer-nav__item:not(:first-child) {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .footer-nav__item:not(:first-child) {
    margin-top: 0;
    margin-left: 28px;
  }
}

.footer-nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: #000000;
}

.footer-subs {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .footer-subs {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.footer-subs__label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  color: #2c2c2c;
}
@media screen and (min-width: 768px) {
  .footer-subs__label {
    width: 280px;
  }
}

.footer-subs__input-email {
  width: 100%;
  height: 42px;
  border-style: none;
  border: solid 2px #ffe550;
  border-radius: 30px;
  padding-left: 12px;
}
.footer-subs__input-email:hover, .footer-subs__input-email:focus, .footer-subs__input-email:active {
  border-color: #7eb101;
}
@media screen and (min-width: 768px) {
  .footer-subs__input-email {
    width: 280px;
  }
}

.footer-subs__btn {
  display: block;
  width: 100px;
  height: 42px;
  border: solid 2px #ffe550;
  border-radius: 30px;
  float: right;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .footer-subs__btn {
    margin-top: 27px;
    margin-left: 15px;
  }
}

.footer-subs__agreement {
  display: flex;
  justify-content: center;
  padding-top: 82px;
}
@media screen and (min-width: 768px) {
  .footer-subs__agreement {
    padding-top: 12px;
    justify-content: flex-start;
  }
}

.privacy-policy__link {
  margin-left: 4px;
}

.footer-link__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer-link__list {
    justify-content: left;
  }
  .footer-link__list:not(:last-of-type) {
    margin-right: 20px;
  }
}

.reserved {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 40px;
}

.backdrop1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden1 {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop__modal1 {
  transform: translate(-50%, -50%) scale(0.8);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 449px;
  min-width: 320px;
  padding-top: 32px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 32px;
  background-color: #ffe550;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__close-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 16px;
  top: 16px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #2c2c2c;
  text-align: center;
  margin-bottom: 20px;
}

.submit-form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #2c2c2c;
  margin-bottom: 2px;
  margin-left: 12px;
}

.submit-form__input {
  width: 100%;
  height: 48px;
  border: 1px solid #7eb101;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 24px;
}

.submit-form__input:focus {
  border: 1px solid tomato;
  outline: none;
}

.submit-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #c4c4c4;
}

.submit-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #c4c4c4;
}

.submit-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #c4c4c4;
}

.submit-form__btn-submit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 38px;
  padding-left: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  background: #ffffff;
  border: 2px solid #7eb101;
  border-radius: 30px;
}

.submit-form__btn-submit--right {
  background: #bbf330;
}

.submit-form__btn-submit--error {
  background: #ffffff;
  border: 2px solid #ff705d;
}

.submit-form__input-alert {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.4;
  color: #ff705d;
  margin-left: 12px;
}

.submit-form__input-alert::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.submit-form__input-requirement {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;
  color: #ff705d;
  margin-left: 12px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.subscribe {
  display: block;
  padding: 17px 0;
}

.subscribe__header {
  margin: 0 auto;
}
@media screen and (max-width: 767.5px) {
  .subscribe__header {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
  .subscribe__header {
    max-width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 15px;
  }
}

.subscribe__block {
  display: block;
}

.subscribe {
  padding: 15px 17px;
}

.subscribe__title {
  font-weight: 700;
}
@media screen and (max-width: 767.5px) {
  .subscribe__title {
    font-size: 28px;
    line-height: 120%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1600px) {
  .subscribe__title {
    font-size: 42px;
    margin-bottom: 20px;
    line-height: 120%;
  }
}

.subscribe__description {
  display: flex;
}
@media screen and (max-width: 767.5px) {
  .subscribe__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1600px) {
  .subscribe__description {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 767.5px) {
  .subscribe__place {
    display: block;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 541px) and (max-width: 1600px) {
  .subscribe__place {
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 479.5px) {
  .subscribe__form {
    display: block;
  }
}
@media screen and (min-width: 541px) and (max-width: 1600px) {
  .subscribe__form {
    display: flex;
  }
}

.subscribe__input {
  border: 1px solid yellow;
  padding: 16px;
  border-radius: 30px;
  padding: 12px 57px 12px 12px;
  width: 100%;
}
@media screen and (max-width: 540px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 541px) and (max-width: 1600px) {
  .subscribe__input {
    margin-right: 32px;
    width: 395px;
  }
}

.subscribe__button {
  border-radius: 30px;
  padding: 11px 22px;
  cursor: pointer;
  background: #BBF330;
  border: none;
}
@media screen and (max-width: 767.5px) {
  .subscribe__button {
    display: flex;
    margin-left: auto;
  }
}

.subscribe__image {
  display: flex;
}

@media screen and (max-width: 767.5px) {
  .subscribe__banan {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
  .subscribe__banan {
    margin: -46px 0;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 130px;
  height: 255px;
  z-index: 999;
  background-color: #fefefe;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;
  transform: translateX(1000%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  padding: 0;
  border: 0;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 7px;
}

.mobile-menu__item {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.mobile-menu__item:first-child:hover, .mobile-menu__item:focus {
  background-color: #bbf330;
  border-radius: 30px 0px 0px 0px;
}
.mobile-menu__item:hover, .mobile-menu__item:focus {
  background-color: #bbf330;
}
.mobile-menu__item:last-child:hover, .mobile-menu__item:focus {
  background-color: #bbf330;
  border-radius: 0px 0px 30px 30px;
}

.mobile-menu__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
}

@media screen and (max-width: 479.5px) {
  .container {
    width: 100%;
    height: 1050px;
    background-image: url(../img/offerings/off-ground-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary);
  }
}
@media screen and (max-width: 479.5px) and (min-device-pixel-ratio: 2), screen and (max-width: 479.5px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 479.5px) and (min-resolution: 192dpi), screen and (max-width: 479.5px) and (min-resolution: 2dppx) {
  .container {
    background-image: url(../img/offerings/off-ground-min-2x.jpg);
  }
}
@media screen and (max-width: 479.5px) {
  .container__wrapper {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (max-width: 479.5px) {
  .container__button {
    width: 106px;
    height: 40px;
    margin-right: 24px;
    background: #ffffff;
    border: 2px solid #7eb101;
    border-radius: 30px;
  }
}
@media screen and (max-width: 479.5px) {
  .container__link {
    font-weight: 400px;
    font-size: 13.7pxpx;
    line-height: 1.5;
    color: #000000;
    text-decoration: none;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    width: 480px;
    height: 1050px;
    background-image: url(../img/offerings/off-ground-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .container {
    background-image: url(../img/offerings/off-ground-mob-2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .container__wrapper {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 480px) {
  .container__button {
    width: 106px;
    height: 40px;
    margin-right: 24px;
    background: #ffffff;
    border: 2px solid #7eb101;
    border-radius: 30px;
  }
}
@media screen and (min-width: 480px) {
  .container__link {
    font-weight: 400px;
    font-size: 13.7pxpx;
    line-height: 1.5;
    color: #000000;
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    width: 768px;
    height: 1140px;
    background-image: url(../img/offerings/off-ground-tab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .container {
    background-image: url(../img/offerings/off-ground-tab-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .container {
    display: flex;
    align-items: baseline;
    width: 1280px;
    height: 824px;
    background-image: url(../img/offerings/off-ground-desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .container {
    background-image: url(../img/offerings/off-ground-desk-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .container__link {
    display: none;
  }
}

@media screen and (max-width: 479.5px) {
  .section {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .section__img {
    display: block;
    max-width: 280px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
  }
  .section__title {
    font-weight: 700px;
    font-size: 28pxpx;
    line-height: 1.18;
    margin-bottom: 28px;
  }
  .section__text {
    font-weight: 400px;
    font-size: 14pxpx;
    line-height: 1.14;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 480px) {
  .section {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .section__img {
    display: block;
    max-width: 280px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
  }
  .section__title {
    font-weight: 700px;
    font-size: 28pxpx;
    line-height: 1.18;
    margin-bottom: 28px;
  }
  .section__text {
    font-weight: 400px;
    font-size: 14pxpx;
    line-height: 1.14;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 768px) {
  .section__title {
    font-weight: 700px;
    font-size: 42pxpx;
    line-height: 1.17;
    max-width: 526px;
    margin-bottom: 20px;
  }
  .section__text {
    font-weight: 400px;
    font-size: 16pxpx;
    line-height: 1.17;
    max-width: 500px;
    margin-bottom: 40px;
  }
  .section__img {
    max-width: 704px;
    margin-top: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .section__title {
    font-weight: 700px;
    font-size: 42pxpx;
    line-height: 1.2;
    max-width: 526px;
    margin-bottom: 20px;
  }
  .section__text {
    font-weight: 400px;
    font-size: 16pxpx;
    line-height: 1.5;
    max-width: 500px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 479.5px) {
  .offerings__item {
    max-width: 252px;
    margin-bottom: 28px;
  }
  .offerings__title {
    margin-bottom: 16px;
  }
  .offerings__icon {
    fill: #7eb101;
    margin-bottom: 8px;
  }
  .offerings__wrapper {
    width: 48px;
    height: 48px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-repeat: no-repeat;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 480px) {
  .offerings__item {
    max-width: 252px;
    margin-bottom: 28px;
  }
  .offerings__title {
    margin-bottom: 16px;
  }
  .offerings__icon {
    fill: #7eb101;
    margin-bottom: 8px;
  }
  .offerings__wrapper {
    width: 48px;
    height: 48px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-repeat: no-repeat;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .offerings {
    display: flex;
  }
  .offerings__item:not(:last-child) {
    margin-right: 116px;
  }
}/*# sourceMappingURL=index.css.map */