<section class="section">
  <h2 hidden>Customers</h2>
  <div class="container">
    <article class="customers">
      <h3 class="customers__title">What our Customers Say</h3>
      <p class="customers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <ul class="customers__list">
        <li class="customers__item">
          <!-- <svg class="customers__icon">
              <use href="./"></use>
            </svg> -->
          <img src="./img/svg/star.svg" alt="star" />
          <img src="./img/svg/star.svg" alt="star" />
          <img src="./img/svg/star.svg" alt="star" />
          <img src="./img/svg/star.svg" alt="star" />
          <img src="./img/svg/star.svg" alt="star" />
          <p class="customers__comment">
            “The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No
            questions asked”
          </p>
          <div class="avatar">
            <picture>
              <source srcset="./img/man@1x.jpg 1x, ./img/man@1x.jpg 2x" media="(min-width: 320px)" />
              <img class="avatar__photo" src="./img/man@1x.jpg" alt="customer" />
            </picture>
            <h4 class="avatar__name">Sumith Shah</h4>
            <p class="avatar__status">Some Dude</p>
          </div>
        </li>
        <li class="customers__item">
          <article class="customers__feedback"></article>
        </li>
      </ul>
    </article>
  </div>
</section>
