<!-- Customers -->
<section class="section customers" id="customers">
  <h2 hidden>Customers</h2>
  <div class="container pad">
    <article>
      <h3 class="customers__title">What our Customers Say</h3>
      <p class="customers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <ul class="customers__list">
        <li class="customers__item">
          <div class="customers__box">
            <div class="customers__icons">
              <svg class="customers__icon">
                <use href="./img/svg/svg-sprite.svg#star"></use>
              </svg>
              <svg class="customers__icon">
                <use href="./img/svg/svg-sprite.svg#star"></use>
              </svg>
              <svg class="customers__icon">
                <use href="./img/svg/svg-sprite.svg#star"></use>
              </svg>
              <svg class="customers__icon">
                <use href="./img/svg/svg-sprite.svg#star"></use>
              </svg>
              <svg class="customers__icon">
                <use href="./img/svg/svg-sprite.svg#star"></use>
              </svg>
            </div>
            <p class="customers__comment">
              “The Best app I have used to order food in a while, so many options to choose from too, I would recommend
              to a freind, No
              questions asked”
            </p>
          </div>
          <div class="avatar">
            <picture class="avatar__photo">
              <source srcset="./img/man@1x.jpg 1x, ./img/man@1x.jpg 2x" media="(min-width: 320px)" />
              <img src="./img/man@1x.jpg" alt="customer" width="48" />
            </picture>
            <div class="avatar__card">
              <h4 class="avatar__name">Sumith Shah</h4>
              <p class="avatar__status">Some Dude</p>
            </div>
          </div>
        </li>
        <li class="customers__item">
          <div class="customers__box">
            <div class="customers__icons">
              <svg class="customers__icon">
                <use href="./img/svg/svg-sprite.svg#star"></use>
              </svg>
              <svg class="customers__icon">
                <use href="./img/svg/svg-sprite.svg#star"></use>
              </svg>
              <svg class="customers__icon">
                <use href="./img/svg/svg-sprite.svg#star"></use>
              </svg>
              <svg class="customers__icon">
                <use href="./img/svg/svg-sprite.svg#star"></use>
              </svg>
              <svg class="customers__icon">
                <use href="./img/svg/svg-sprite.svg#star"></use>
              </svg>
            </div>
            <p class="customers__comment">
              “The ease with which I can just go in and order what i want was amazing, It has been a very pleasant
              experience ordering from
              this app”
            </p>
          </div>
          <div class="avatar">
            <picture class="avatar__photo">
              <source srcset="./img/woman@1x.jpg 1x, ./img/woman@1x.jpg 2x" media="(min-width: 320px)" />
              <img src="./img/woman@1x.jpg" alt="customer" width="48" />
            </picture>
            <div class="avatar__card">
              <h4 class="avatar__name">Sumith Shah</h4>
              <p class="avatar__status">Some Dude</p>
            </div>
          </div>
        </li>
      </ul>
    </article>
  </div>
</section>