<section class="section">
    <div class="container">
        <h2 class="section__title">Some of Our Favorites</h2>
        <p class="section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites-list">
            <li class="favorites-list__item">
                <a class="favorites-list__link" href="#"><picture>
                    <source srcset="
                    ../src/img/favorites/gamburger-desk.jpg    1x,
                    ../src/img/favorites/gamburger-desk@2x.jpg 2x
                  "
                  media="(min-width:1280px)"/>
                  <source srcset="
                    ../src/img/favorites/gamburger-tab.jpg    1x,
                    ../src/img/favorites/gamburger-tab@2x.jpg 2x
                  "
                  media="(min-width:768px)"/>
                  <source srcset="
                    ../src/img/favorites/gamburger-mob.jpg    1x,
                    ../src/img/favorites/gamburger-mob@2x.jpg 2x
                  "
                  media="(min-width:480px)"/>
                <img class="favorites-list__img" src="../src/img/favorites/gamburger-mob.jpg" alt="gamburger-mob">  
                </picture></a>                
                
            </li>
            <li class="favorites-list__item">
                <a class="favorites-list__link" href="#"><picture>
                     <source srcset="
                    ../src/img/favorites/pasta-desk.jpg    1x,
                    ../src/img/favorites/pasta-desk@2x.jpg 2x
                  "
                  media="(min-width:1280px)"/>
                  <source srcset="
                    ../src/img/favorites/pasta-tab.jpg    1x,
                    ../src/img/favorites/pasta-tab@2x.jpg 2x
                  "
                  media="(min-width:768px)"/>
                  <source srcset="
                    ../src/img/favorites/pasta-mob.jpg    1x,
                    ../src/img/favorites/pasta-mob@2x.jpg 2x
                  "
                  media="(min-width:480px)"/>
                <img class="favorites-list__img" src="../src/img/favorites/pasta-mob.jpg" alt="pasta-mob">  
                </picture></a>
                
            </li>
            <li class="favorites-list__item">
                <a class="favorites-list__link" href="#"><picture>
                     <source srcset="
                    ../src/img/favorites/pizza-desk.jpg    1x,
                    ../src/img/favorites/pizza-desk@2x.jpg 2x
                  "
                  media="(min-width:1280px)"/>
                  <source srcset="
                    ../src/img/favorites/pizza-tab.jpg    1x,
                    ../src/img/favorites/pizza-tab@2x.jpg 2x
                  "
                  media="(min-width:768px)"/>
                  <source srcset="
                    ../src/img/favorites/pizza-mob.jpg    1x,
                    ../src/img/favorites/pizza-mob@2x.jpg 2x
                  "
                  media="(min-width:480px)"/>
                <img class="favorites-list__img" src="../src/img/favorites/pizza-mob.jpg" alt="pizza-mob">  
                </picture></a>
                
            </li>
            <li class="favorites-list__item">
                <a class="favorites-list__link" href="#"><picture>
                     <source srcset="
                    ../src/img/favorites/chicken-desk.jpg    1x,
                    ../src/img/favorites/chicken-desk@2x.jpg 2x
                  "
                  media="(min-width:1280px)"/>
                  <source srcset="
                    ../src/img/favorites/chicken-tab.jpg    1x,
                    ../src/img/favorites/chicken-tab@2x.jpg 2x
                  "
                  media="(min-width:768px)"/>
                  <!-- <source srcset="
                    ../src/img/favorites/chicken-mob.jpg    1x,
                    ../src/img/favorites/chicken-mob@2x.jpg 2x
                  "
                  media="(min-width:480px)"/> -->
                <img class="favorites-list__img" src="../src/img/favorites/chicken-tab.jpg" alt="chicken-tab">  
                </picture></a>
                
            </li>
            <li class="favorites-list__item">
                <a class="favorites-list__link" href="#"><picture>
                     <source srcset="
                    ../src/img/favorites/salat-desk.jpg    1x,
                    ../src/img/favorites/salat-desk@2x.jpg 2x
                  "
                  media="(min-width:1280px)"/>
                  <source srcset="
                    ../src/img/favorites/salat-tab.jpg    1x,
                    ../src/img/favorites/salat-tab@2x.jpg 2x
                  "
                  media="(min-width:768px)"/>
                  <!-- <source srcset="
                    ../src/img/favorites/salat-mob.jpg    1x,
                    ../src/img/favorites/salat-mob@2x.jpg 2x
                  "
                  media="(min-width:480px)"/> -->
                <img class="favorites-list__img" src="../src/img/favorites/salat-tab.jpg" alt="salat-tab">  
                </picture></a>
                
            </li>
            <li class="favorites-list__item">
                <a class="favorites-list__link" href="#"><picture>
                     <source srcset="
                    ../src/img/favorites/borshch-desk.jpg    1x,
                    ../src/img/favorites/borshch-desk@2x.jpg 2x
                  "
                  media="(min-width:1280px)"/>
                  <source srcset="
                    ../src/img/favorites/borshch-tab.jpg    1x,
                    ../src/img/favorites/borshch-tab@2x.jpg 2x
                  "
                  media="(min-width:768px)"/>
                  <!-- <source srcset="
                    ../src/img/favorites/borshch-mob.jpg    1x,
                    ../src/img/favorites/borshch-mob@2x.jpg 2x
                  "
                  media="(min-width:480px)"/> -->
                <img class="favorites-list__img" src="../src/img/favorites/borshch-tab.jpg" alt="borshch-tab">  
                </picture></a>
                
            </li>
        </ul>
    </div>
</section>