<!--FOOTER-->
<section id="footer" class="section footer">
  <div class="container">
    <div class="desktop">
      <div class="navi">
        <!--Logo Link-->
        <a href="./index.html"><svg class="logo-link logo-link--footer" width="66" height="52">
            <use href="./img/svg/svg-sprite.svg#logo"></use>
          </svg></a>
        <!--Navigation-->
        <div class="footer-nav">
          <ul class="footer-nav__list list">
            <li class="footer-nav__item"><a href="#header" class="footer-nav__link link">Header</a></li>
            <li class="footer-nav__item"><a href="#hero" class="footer-nav__link link">Hero</a></li>
            <li class="footer-nav__item"><a href="#offerings" class="footer-nav__link link">Offerings</a></li>
            <li class="footer-nav__item"><a href="#favorites" class="footer-nav__link link">Favorites</a></li>
            <li class="footer-nav__item"><a href="#customers" class="footer-nav__link link">Customers</a></li>
            <li class="footer-nav__item"><a href="#subscribe" class="footer-nav__link link">Subscribe</a></li>
            <li class="footer-nav__item"><a href="#footer" class="footer-nav__link link">Footer</a></li>
          </ul>
        </div>
      </div>

      <!--Subscribe-->
      <div class="subscribe">
        <form class="footer-subs" name="footer-subs" autocomplete="on" novalidate>
          <label class="footer-subs__label">
            Subscribe
            <input class="footer-subs__input-email" type="email" name="email" placeholder="Enter your email" />
          </label>
          <button class="button footer-subs__btn" type="submit">Subscribe</button>
        </form>

        <p class="agreement">
          By subscribing you agree to with our
          <a class="privacy-policy-link" href="https://policies.google.com/privacy?hl=en-US"> Privacy Policy</a>
        </p>
      </div>
    </div>

    <!--Footer-link-->
    <div class="footer-link">
      <ul class="footer-link__list list">
        <li class="footer-link__item"><a class="footer-link__link" href="#">Privacy Policy</a></li>
        <li class="footer-link__item"><a class="footer-link__link" href="#">Terms of Service</a></li>
        <li class="footer-link__item"><a class="footer-link__link" href="#">Cookies Settings</a></li>
      </ul>
      <p class="reserved">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</section>