<header class="section header">
  <div class="container">
    <div class="logo-holder">
      <svg class="logo-icon" width="66" height="52">
        <use href="../img/svg/svg-sprite.svg#logo"></use>
      </svg>
    </div>
    <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Service</a></li>
        <li><a href="">Menu</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>
    <button type="button">Order Now</button>
  </div>
</header>
