<section id="hero" class="section hero">
  <div class="hero__container container">
    <div class="hero__info">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
        viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button data-modal-open class="hero__btn" type="button">Order Now</button>
    </div>
    <div class="hero__slider">
      <div class="hero__slider-window">
        <div class="hero__slides">
          <div class="hero__wrapper-image">
            <picture class="hero__image">
              <source srcset="./img/hero/dish-1-tab.jpg 1x, ./img/hero/dish-1-tab@2x.jpg 2x" media="(max-width: 1279px)" />
              <source srcset="./img/hero/dish-1-desk.jpg 1x, ./img/hero/dish-1-desk@2x.jpg 2x" media="(min-width: 1280px)" />
              <img src="./img/hero/dish-1-desk.jpg" alt="hero-image1" class="hero__img" />
            </picture>
          </div>
          <!--<div class="hero__wrapper-image">
            <img src="./img/hero/dish-2-desk.jpg" alt="hero-image2" class="hero__image" width="228" height="228" />
          </div>
          <div class="hero__wrapper-image">
            <img src="./img/hero/dish-3-desk.jpg" alt="hero-image3" class="hero__image" width="228" height="228" />
          </div>-->
        </div>
      </div>
      <a href="#" class="hero__slider-prev">
        <span class="carousel-prev-icon">&lt;</span>
      </a>
      <a href="#" class="hero__slider-next">
        <span class="carousel-next-icon">&gt;</span>
      </a>
    </div>
  </div>
</section>
