<!-- Mobile Menu -->

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu close-btn">
    <svg width="11" height="11">
      <use href="./img/svg/svg-sprite.svg#cross"></use>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li class="mobile-menu__item"><a href="./index.html" class="mobile-menu__link">Home</a></li>
    <li class="mobile-menu__item"><a href="#offerings" class="mobile-menu__link">About</a></li>
    <li class="mobile-menu__item"><a href="#customers" class="mobile-menu__link">Service</a></li>
    <li class="mobile-menu__item"><a href="#subscribe" class="mobile-menu__link">Menu</a></li>
    <li class="mobile-menu__item"><a href="#footer" class="mobile-menu__link">Contact</a></li>
  </ul>
</div>

<!-- Mobile Menu Script -->

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="js/mobile-menu.js"></script>
