<!--Modal-->
<div data-modal class="backdrop is-hidden">
  <div class="backdrop__modal">
    <h2 class="backdrop__title">Order Form</h2>

    <div data-modal-close class="backdrop__close-btn">
      <svg class="backdrop__close-btn__icon" width="24" height="24">
        <use href="./img/svg/svg-sprite.svg#icon-modalclsbtn"></use>
      </svg>
    </div>

    <form name="submit-form" id="modal-form" class="submit-form" method="post" autocomplete="off" novalidate>
      <div class="submit-form__field">
        <label class="submit-form__label" for="username">Name</label>
        <div class="submit-form__input-wrap">
          <input class="submit-form__input" name="username" type="text" id="username" placeholder="Your name" />
        </div>
      </div>

      <div class="submit-form__field">
        <label class="submit-form__label" for="phone">Phone number</label>
        <div class="submit-form__input-wrap">
          <input class="submit-form__input" name="phone" type="tel" id="phone" placeholder="+380-_ _-_ _ _ - _ _ - _ _" />
        </div>
      </div>

      <div class="submit-form__field">
        <label class="submit-form__label" for="email">E-mail</label>
        <div class="submit-form__input-wrap">
          <input class="submit-form__input" name="email" type="email" id="email" placeholder="example@gmail.com" />
        </div>
      </div>

      <div class="form-field">
        <button type="submit" class="submit-form__btn-submit">Send</button>
      </div>
    </form>
  </div>
</div>

<!-- Modal Script -->

<script src="js/modal.js"></script>
