<section class="section section--padding-top-50" id="offerings">
  <div class="container offerings">
    <picture class="offerings__img">
      <source media="(max-width: 767.5px)" srcset="./img/offerings/apple.png 1x, ./img/offerings/apple-2x.png 2x" />
      <source srcset="./img/offerings/apple-tab.png 1x, ./img/offerings/apple-tab-2x.png 2x" media="(max-width: 1279.5px)" />
      <source srcset="./img/offerings/apple-desk.png 1x, ./img/offerings/apple-desk-2x.png 2x" media="(min-width: 1280px)" />
      <img src="./img/offerings/apple.png" alt="apple image" />
    </picture>
    <div class="offerings__content">
      <h2 class="offerings__title">What’s Special About Our Offerings</h2>
      <p class="offerings__advertising">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
        viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings__list">
        <li class="offerings__item">
          <div class="offerings__box">
            <svg viewBox width="32" height="32" class="offerings__icon">
              <use href="./img/offerings/icons.svg#icon-rocket"></use>
            </svg>
          </div>
          <h3 class="offerings__benefits">Fasest Delivery</h3>
          <p class="offerings__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </li>
        <li class="offerings__item">
          <div class="offerings__box">
            <svg viewBox width="32" height="32" class="offerings__icon">
              <use href="./img/offerings/icons.svg#icon-touch"></use>
            </svg>
          </div>
          <h3 class="offerings__benefits">Easy to order</h3>
          <p class="offerings__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </li>
      </ul>
      <div class="offerings__wrapper">
        <button type="button" class="offerings__button js-open-menu" aria-expanded="false" aria-controls="mobile-menu">Order Now</button>
        <a href="" class="offerings__link">Read More ></a>
      </div>
    </div>
  </div>
</section>
