<section class="section">
  <div class="container">
    <picture class="section__img">
      <source
        srcset="
      ./img/offerings/apple.png 1x
      ./img/offerings/apple-2x.png 2x
      "
        media="(max-width: 479px)"
      />
      <img src="./img/offerings/apple.png" alt="apple image" />
    </picture>
    <h2 class="section__title">What’s Special About Our Offerings</h2>
    <p class="section__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
      viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="offerings">
      <li class="offerings__item">
        <div class="offerings__wrapper">
          <svg viewBox width="32" height="32" class="icon shape-codepen">
            <use href="./img/offerings/rocket-svg.svg"></use>
          </svg>
        </div>
        <h3 class="offerings__title">Fasest Delivery</h3>
        <p class="offerings__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </li>
      <li class="offerings__item">
        <div class="offerings__wrapper">
          <svg viewBox width="32" height="32" class="icon shape-codepen">
            <use href="./img/offerings/rocket-svg.svg"></use>
          </svg>
        </div>
        <h3 class="offerings__title">Easy to order</h3>
        <p class="offerings__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </li>
    </ul>
    <div class="container__wrapper">
      <button type="button" class="container__button">Order Now</button>
      <a href="" class="container__link">Read More ></a>
    </div>
  </div>
</section>
