<section class="sub-section" id=subscribe>
    <div class="sub-section__header container">
        <div class="sub-section__image">
            <picture class="sub-section__banan">
                <source srcset="./img/banans/banan-desk.png 1x, ./img/banans/banan-desk@2x.png 2x" media="(min-width: 1280px)" />
                <source srcset="./img/banans/banan-tab.png 1x, ./img/banans/banan-tab@2x.png 2x" media="(min-width: 768px)" />
                <source srcset="./img/banans/banan-mob.png 1x, ./img/banans/banan-mob@2x.png 2x" />
                <img class="banan" src="./img/banans/banan-mob.png" alt="banan" />
            </picture>
        </div>
        <div class="sub-section__block">
            <ul>
                <li>
                    <h2 class="sub-section__title">Subscribe To Get Special Offers</h2>
                    <p class="sub-section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique.</p>
                </li>
            </ul>
            <div class="sub-section__place">
                <form action="#" class="sub-section__form">
                    <input type="email" id="emailFirst" placeholder="E-mail" class="sub-section__input" name="email">
                    <button class="sub-section__button" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
