<subscribe class="subscribe">
    <div class="subscribe__header">
        <div class="subscribe__image">
            <ul>
                <li class="subscribe__banan">
                    <img src="./img/banan.jpg" alt="Banan">
                </li>
            </ul>
         </div>
         <div class="subscribe__block">
             <ul>
                 <li>
                     <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
                     <p class="subscribe__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                 </li>
             </ul>
             <div class="subscribe__place">
                <form action="#" class="subscribe__place">
                  <input type="email" id="emailFirst" placeholder="E-mail" class="subscribe__input" name="email">
                  <button class="subscribe__button" type="submit">Subscribe
                </button>
                </form>
            </div>
         </div>
     </div>
 </subscribe>